[submodule "roles/python"]
	path = roles/python
	url = git@github.com:rjlasko/ansible-role-python.git
[submodule "roles/pipx"]
	path = roles/pipx
	url = git@github.com:rjlasko/ansible-role-pipx.git
[submodule "roles/maven"]
	path = roles/maven
	url = git@github.com:rjlasko/ansible-role-maven.git
[submodule "roles/sourcetree"]
	path = roles/sourcetree
	url = git@github.com:rjlasko/ansible-role-sourcetree.git
[submodule "roles/ssh-utils"]
	path = roles/ssh-utils
	url = git@github.com:rjlasko/ansible-role-ssh-utils.git
