# {{ ansible_managed }}

{% if 'global' in _nut_ups_conf %}
{% for kv in _nut_ups_conf['global'] | dict2items %}
{{ kv.key }} = {{ kv.value }}
{% endfor %}
{% endif %}

{% for section in _nut_ups_conf | dict2items %}
{% if section.key != 'global' %}
[{{ section.key }}]
{% for kv in section.value | dict2items %}
	{{ kv.key }} = {{ kv.value }}
{% endfor %}
{% endif %}

{% endfor %}
