# {{ ansible_managed }}

{% for entry in _nut_upsd_conf %}
{% if _nut_upsd_conf[entry] is iterable and not _nut_upsd_conf[entry] is string %}
{% for repeat in _nut_upsd_conf[entry] %}
{{ entry }} {{ repeat }}
{% endfor %}
{%- else %}
{% if _nut_upsd_conf[entry] != None %}{{ entry }} {{ _nut_upsd_conf[entry] }}{{'\n'}}{% endif %}
{%- endif %}
{% endfor %}
