# {{ ansible_managed }}

{% for user in _nut_upsd_users %}
[{{ user }}]
{% for option in _nut_upsd_users[user] %}
{%- if _nut_upsd_users[user][option] is iterable and not _nut_upsd_users[user][option] is string %}
{%- for repeat in _nut_upsd_users[user][option] %}
  {{ option }} = {{ repeat }}{{ '\n' }}
{%- endfor %}
{%- elif option == 'upsmon' %}
  upsmon {{ _nut_upsd_users[user][option] }}{{ '\n' }}
{%- else %}
  {{ option }} = {{ _nut_upsd_users[user][option] }}{{ '\n' }}
{%- endif %}
{% endfor %}
{% endfor %}
