# {{ ansible_managed }}

{% for global in nut_ups_conf.globals %}
{% if nut_ups_conf.globals[global] != none %}{{ global }} = {{ nut_ups_conf.globals[global] }}
{% endif %}
{% endfor %}

[{{ nut.upsname }}]
{% for option in nut_ups_conf.upses[nut.upsname] %}
  {{ option }} = {{ nut_ups_conf.upses[nut.upsname][option] }}
{% endfor %}
