#!/bin/sh
# {{ ansible_managed }}

# XXX: this script will replace the drivers bound to the given devices with the
# vfio-pci driver, so that libvirt/QEMU can later pass those devices to a
# specified VM.  When a VM is started & stopped, QEMU will unbind+rebind those
# devices to & from the host & VM.  In this way, only the targeted devices are
# bound to just the VM or (dummy) vfio-pci drivers.

PREREQ=""

prereqs()
{
    echo "$PREREQ"
}

case $1 in
prereqs)
    prereqs
    exit 0
    ;;
esac

for dev in {{ vfio_initramfs_pci_ids_formatted }}
do
    echo "$dev" > /sys/bus/pci/devices/$dev/driver/unbind
    echo "vfio-pci" > /sys/bus/pci/devices/$dev/driver_override
    echo "$dev" > /sys/bus/pci/drivers/vfio-pci/bind
done

modprobe -i vfio-pci

exit 0
