# MSMTP configuration file
# see: https://marlam.de/msmtp/msmtp.html#Configuration-files

account default

syslog		{{ msmtp.syslog | default('on') }}

from		{{ msmtp.from | mandatory }}
host		{{ msmtp.hostname | mandatory }}
port		{{ msmtp.port | mandatory }}

{% if msmtp.auth is defined %}
auth		on
user		{{ msmtp.user | mandatory }}
password	{{ msmtp.pass | mandatory }}
{% else %}
auth		off
{% endif %}


{% if msmtp.auth is defined and msmtp.auth == 'tls' %}
tls			on
{% if msmtp.tls_starttls is defined %}
tls_starttls	{{ msmtp.tls_starttls }}
{% endif %}
{% if msmtp.tls_trustfile is defined %}
tls_trust_file	{{ msmtp.tls_trustfile }}
{% endif %}
{% endif %}
