#!/usr/bin/env bash

# {{ ansible_managed }}

set -ueo pipefail
# set -x

# determine likely VPN network device
# XXX: probably not necessary
# VPN_DEV="$(grep -f <(networksetup -listallhardwareports | grep Device | awk '{print $2}' | tr ' ' '\n') -v <(scutil --nwi | tail -n1 | cut -d':' -f2 | xargs | tr ' ' '\n'))"

{% if aws_gimme_creds_pretest is defined %}
if ! {{ aws_gimme_creds_pretest }} ; then
	echo "Pre-login test failed. Aborting."
	exit 191
fi
{% endif %}

export PATH="{{ aws_bin_path }}:$PATH"
gimme-aws-creds $@
