#!/usr/bin/env bash
set -ueo pipefail

# {{ ansible_managed }}


{% if aws_gimme_creds_pretest is defined %}
if ! {{ aws_gimme_creds_pretest }} ; then
	echo "Pre-login test failed. Aborting."
	exit 191
fi
{% endif %}

export PATH="{{ aws_bin_path }}:{{ aws_creds_bin_path }}:$PATH"
gimme-aws-creds "$@"
