<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<!-- {{ ansible_managed }} -->

<dict>
	<key>Label</key>
	<string>{{ aws_creds.plist_domain }}</string>
	<key>ProgramArguments</key>
	<array>
		<string>bash</string>
		<string>-c</string>
		<string>{{ aws_login_filepath }}</string>
	</array>
<!--
	<key>StandardOutPath</key>
	<string>{{ aws_creds.log_out }}</string>
	<key>StandardErrorPath</key>
	<string>{{ aws_creds.log_err }}</string>
 -->
	<key>StartInterval</key>
	<integer>1800</integer>
</dict>
</plist>
