<hostdev mode='subsystem' type='pci' managed='yes'>
  <source>
    <address domain='0x0000' bus='{{ libvirt_hostdev.bus }}' slot='{{ libvirt_hostdev.slot }}' function='{{ libvirt_hostdev.function }}' />
  </source>
</hostdev>
