[global]
{% if pip_extra_index_url is defined %}
extra-index-url = https://{{ pip_username | mandatory | urlencode }}:{{ pip_password | mandatory }}@{{ pip_extra_index_url }}
{% endif %}
timeout = 60
no-cache-dir = false

[install]
no-compile = no
no-warn-script-location = false
